
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'TT Hoves', sans-serif;
    color: #222;
}

section {
    padding: 0 calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: 0 calc(60px + (160 - 60) * ((100vw - 375px) / (1280 - 375)));;
}

section.hello {
    padding-top: 40px;
    background-image: url('../img/html_css_js.svg');
    background-repeat: no-repeat;
    background-position: top 20px right 40px;
    background-size: 35%;
}

.logo {
    height: calc(30px + (41 - 30) * ((100vw - 375px) / (1280 - 375)));
}

.courseInfo {
    display: flex;
    gap: 30px 160px;
    flex-wrap: wrap;
    margin-top: calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(48px + (76 - 48) * ((100vw - 375px) / (1280 - 375)));
}

.courseData {
    font-size: 21px;
    line-height: 140%;
}

.courseData .value {
    font-weight: 700;
}

h1 {
    font-family: 'Chava', sans-serif;
    font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
    line-height: 110%;
}

p {
    margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 300;
    line-height: 140%;
}

.cta {
    margin-top: 20px;
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

button {
    width: 328px;
    padding: 20px 0px;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 500;
    line-height: 117%;
}

button.purple {
    background: #6E3ABA;
    color: white;
    border: 1px solid #6E3ABA;
}

button.white .saleBtn {
    background: white;
    color: #6E3ABA;
    border: 1px solid #6E3ABA;

}

h2 {
    width: calc(46.3vw + 176px);
    height: auto;
    margin-top: calc(10.5vw + 25.54px) ;
    margin-right: calc(38.6vw + 103.11px);
    margin-bottom: calc(5.3vw + 22.77px);
    line-height: 117%;
    font-size: calc(2.5vw + 25.73px);
    font-weight: 600;
}

.aboutStudy img {
    width: calc(3.2vw + 169.66px);
}

.courseDetails {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(5.3vw + 22.73px);
    margin-bottom: calc(1.3vw + 35.86px);
    }

    .btitle,
    .stitle,
    .betitle,
    .wtstitle {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        color: #222222;
        width: calc(10.5vw + 285.54px);
        font-size: calc(0.9vw + 14.89px);
        line-height: 140%;
        font-weight: 600;
        margin-bottom: calc(1.1vw + 6.55px);
       
    }

.bvalue,
.svalue,
.bevalue,
.wtsvalue {
    width: calc(12vw + 285.96px);
    font-size: calc(0.9vw + 14.89px);
    font-weight: 400;
    line-height: 117%;
    text-align: left;
}

.saleContainer {
    background-color: #6E3ABA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(4.4vw + 23px) 0 calc(5.3vw + 20px);
}
.saleContainer h3 {
    color: white;
    font-size: calc(2vw + 26.5px);
    margin-bottom: calc(4.1vw + 4.7px);
}
.time {
    display: flex;
    gap: calc(2vw + 2px);
    margin-bottom: calc(4vw + 6px);
}
.date, .date2 {
    font-size: calc(12.6vw + 12.8px);
    font-family: "chava", sans-serif;
}
.timeCard span {
    text-align: center;
    display: block;
    font-size: calc(1.9vw + 2.8px);
}

.promises h3{
    width: calc(72.9vw + 88.89px);
    font-size: calc(2vw + 24px);
    text-align: left;
    text-transform: uppercase;
    line-height: calc(3.1vw + 28.26px);
    font-weight: 500;  
    margin-right: (12vw + 15.95px);
}
.studyProcess {
    display: flex;
    flex-wrap: wrap;
    gap: calc(3vw + 9.32px);
    justify-content: left;
}

.processInfo {
    max-width: 500px;
    min-width: 328px;
    text-align: left;
    margin-bottom: calc(0.6vw + 5.13px);
    font-size: calc(1vw + 14.27px);
}

.infoContainer {
    display: flex;
    gap: calc(20px + (51 - 20) * ((100vw - 375px) / (1280 - 375)));;
    flex-wrap: wrap;
}

.infoCard {
    flex-basis: 250px;
    flex-grow: 1;
}

.infoCard img {
width: 100%;
}

.infoBox {
    flex-basis: 300px;
    flex-grow:3;
}

h4 {
    font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 120%;
}

.legendSkill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
    column-gap: calc(10px + (90 - 10) * ((100vw - 375px) / (1280 - 375)));
    margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.skill img {
    width: 36px;
}

.skill span {
    display: block;
    margin-top: 10px;
    font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 140%;
}