* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    font-family: 'TT Hoves', sans-serif;
    color: #222;
}

section {
    padding: 0 calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: 0 calc(60px + (160 - 60) * ((100vw - 375px) / (1280 - 375)));
}

section.hello {
    padding-top: 40px;
    background-image: url('../img/html_css_js.svg');
    background-repeat: no-repeat;
    background-position: top 20px right 40px;
    background-size: 35%;
}

.logo {
    height: calc(30px + (41 - 30) * ((100vw - 375px) / (1280 - 375)));
}

.courseInfo {
    display: flex;
    gap: 30px 160px;
    flex-wrap: wrap;
    margin-top: calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(48px + (76 - 48) * ((100vw - 375px) / (1280 - 375)));
}

.courseData {
    font-size: 21px;
    line-height: 140%;
}

.courseData .value {
    font-weight: 700;
}

h1 {
    font-family: 'Chava', sans-serif;
    font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
    line-height: 110%;
}

p {
    margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 300;
    line-height: 140%;
}

.cta {
    margin-top: 20px;
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

button {
    width: 328px;
    padding: 20px 0px;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 500;
    line-height: 117%;
}

button.purple {
    background: #6E3ABA;
    color: white;
    border: 1px solid #6E3ABA;
}

button.white .saleBtn {
    background: white;
    color: #6E3ABA;
    border: 1px solid #6E3ABA;

}

.aboutStudy {
    margin-top: calc(11vw + 18.56px);
}

.aboutStudy h2,
.promises h2,
.legendContainer h2,
.salaryInfo h2,
.partners h2,
.frameBox h2,
.studentsComments h2,
.aboutUs h2,
.ourGallery h2,
.left-section h2  {
    font-size: calc(2.7vw + 24.05px);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: calc(5.3vw + 22.77px);
    line-height: 117%;
}

.aboutStudy img {
    width: calc(3.2vw + 169.66px);
}

.courseDetails {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(5.3vw + 22.73px);
    margin-bottom: calc(1.3vw + 35.86px);
}

.btitle,
.stitle,
.betitle,
.wtstitle {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #222222;
    width: calc(10.5vw + 285.54px);
    font-size: calc(0.9vw + 14.89px);
    line-height: 140%;
    font-weight: 600;
    margin-bottom: calc(1.1vw + 6.55px);

}

.bvalue,
.svalue,
.bevalue,
.wtsvalue {
    width: calc(12vw + 285.96px);
    font-size: calc(0.9vw + 14.89px);
    font-weight: 400;
    line-height: 117%;
    text-align: left;
}

.saleContainer {
    background-color: #6E3ABA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(4.4vw + 23px) 0 calc(5.3vw + 20px);
}

.saleContainer h3 {
    color: white;
    font-size: calc(2vw + 26.5px);
    margin-bottom: calc(4.1vw + 4.7px);
}

.time {
    display: flex;
    gap: calc(2vw + 2px);
    margin-bottom: calc(4vw + 6px);
}

.date,
.date2 {
    font-size: calc(12.6vw + 12.8px);
    font-family: "Chava", sans-serif;
}

.timeCard span {
    text-align: center;
    display: block;
    font-size: calc(1.9vw + 2.8px);
}

.promises h3 {
    width: calc(72.9vw + 88.89px);
    font-size: calc(2vw + 24px);
    text-align: left;
    text-transform: uppercase;
    line-height: calc(3.1vw + 28.26px);
    font-weight: 500;
    margin-right: (12vw + 15.95px);
}

.studyProcess {
    display: flex;
    flex-wrap: wrap;
    gap: calc(3vw + 9.32px);
    justify-content: left;
}

.processInfo {
    max-width: 500px;
    min-width: 328px;
    text-align: left;
    margin-bottom: calc(0.6vw + 5.13px);
    font-size: calc(1vw + 14.27px);
}

.infoContainer {
    display: flex;
    gap: calc(20px + (51 - 20) * ((100vw - 375px) / (1280 - 375)));
    flex-wrap: wrap;
}

.infoCard {
    flex-basis: 250px;
    flex-grow: 1;
}

.infoCard img {
    width: 100%;
}

.infoBox {
    flex-basis: 300px;
    flex-grow: 3;
}

h4 {
    font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 120%;
}

.legendSkill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
    column-gap: calc(10px + (90 - 10) * ((100vw - 375px) / (1280 - 375)));
    margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.skill img {
    width: 36px;
}

.skill span {
    display: block;
    margin-top: 10px;
    font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 140%;
}

.diplom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 19px;
    margin-top: 60px;
}

.diplom img {
    grid-row: 1 / 3;
    align-items: center;
    align-self: center;
    max-width: 430px;
}


.diplom h2 {
    margin-bottom: 0;
    font-size: calc(2.5vw + 24px);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 117%;
    width: calc(27.6vw + 224.40px);
}

.diplom span {
    width: calc(23vw + 250.92px);
    font-size: calc(1.9vw + 2.8px);
    font-weight: 400;
    line-height: 140%;
}

.salary {
    margin-top: calc(10vw + 18.56px);
}

.salaryInfo h2 {
    width: calc(44.3vw + 161.84px);
    margin-bottom: calc(2.2vw + 11.71px);
}

.salaryInfo p {
    width: calc(61vw + 101px);
    margin-bottom: calc(1.8vw + 13.37px);
    text-align: left;
}

.salaryInfo img {
    width: calc(81.4vw + 22.61px);
}


.partners {
    margin-top: calc(10vw + 18.56px);
}

.partners h2 {
    width: calc(44.3vw + 161.84px);
    margin-bottom: calc(2.2vw + 11.71px);
}

.wait {
    display: flex;

    flex-wrap: wrap;
}

.waitImg {
    flex-basis: 200px;
    flex-grow: 1;
}

.waitImg img {
    max-width: calc(18.8vw + 335.55px);
    min-width: 100%;
}

.partnersInfo {
    margin-top: calc(4vw + 9px);
    width: calc(21.2vw + 248.44px);
    flex-basis: 200px;
    flex-grow: 3;
}

.partnersInfo span {
    display: block;
    margin: 25px;
}


.frameBox {
    border: 2px solid black;
    padding:
        calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375))) calc(20px + (52 - 20) * ((100vw - 375px) / (1280 - 375))) calc(23px + (35 - 23) * ((100vw - 375px) / (1280 - 375)));
    position: relative;
}

#corner {
    width: calc(40px + (140 - 40) * ((100vw - 375px) / (1280 - 375)));
    position: absolute;
    top: -2px;
    right: -2px;
}


.frameBox h2 {
    margin: 0;
}

.lessons {
    margin-top: calc(24px + (40 - 24) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(23px + (34 - 23) * ((100vw - 375px) / (1280 - 375)));
    list-style-type: none;
}

.lessons li {
    border-bottom: 1px solid #a1a1a1;
    padding: 24px 0;
}

.lessons li:first-child {
    padding-top: 0;
}

.frame button {
    margin: 0 auto;
    display: block;
    margin-bottom: 35px;
}

.mobile {
    display: none !important;
}

.feedbacks {
    display: flex;
    flex-direction: row;
    width: calc(0.8vw + 325px);
    background-color: rgba(240, 247, 253, 1);
    border-radius: 2%;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 51px calc(0.4vw + 15px) 40px auto;

}

.feedbackText {
    width: 295px;
    font-size: 21px;


}

.feedbackText img {}

.feedbackText p {
    margin-top: 8px;
}

.FromStudent {
    display: flex;
    flex-direction: row;
    width: 257px;
}

.studentInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;

}

.FromStudent img {
    margin-right: 16px;
    margin-top: auto;
}


.wrapper {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popUp {
    background: #F0F7FD;
    width: calc(54.4vw + 130px);
    height: 80vh;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.form {
    width: 320px;
}



.form h4 {
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
}


.form input {
    display: block;
    width: 100%;

    border: 0;
    border-bottom: 1px solid #A1A1A1;
    outline: 0;
    background: transparent;

    font-size: 18px;
    line-height: 27px;
    padding: 10px 0;

}


.form button {
    margin-top: 30px;
}

.thankYouPage {
    background: #222222;
    width: calc(54.4vw + 130px);
    height: 80vh;
    border-radius: 12px;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    
}

.thankYouPage h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.aboutUs {
 display: flex;
 flex-wrap: wrap;
 flex-direction:column
}


.aboutUsInfo {
   display: block;
   flex-wrap: wrap;
   width: 426px;
   
}

.aboutUsInfo img {
    display: flex;
    flex-wrap: wrap;
}


.aboutUsInfo2 span {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 461px;
}



.black {
    background-color: rgba(34, 34, 34, 1);
    color: white;

}

.container007 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.left-section {
    width: 50%;
}

.left-section h2 {
    font-size: 3rem;
    margin-top: 80px;
    margin-bottom: 30px;
    color: white;
}

.left-section ul {
    list-style: none;
}

.left-section ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.right-section {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 40%;
   
}

.discount {
    position: absolute;
    top: -30px;
    right: 340px;
    background-color: purple;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}

.right-section h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.right-section p {
    font-size: 1rem;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-info {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}


.swiper img {
    width: 100%;
}


@media (max-width: 600px) {
    .mobile {
        display: block !important;
        
    }

    .desktop {
        display: none !important;
    }

    .frame button {
        margin-top: 30px;
    }

    .lessons li:last-child {
        border: 0;
        padding-bottom: 0;
    }

    .diplom {
        grid-template-columns: 1fr;
        margin-top: 60px;
    }

    .diplom h2 {
        grid-row: 1;
        grid-column: 1;
    }

    .diplom span {
        grid-row: 3;
        grid-column: 1;
        width: 356px;
        font-size: 18px;
        text-align: justify;
    }

    .diplom img {
        grid-row: 2/3;
        width: 100%;
        justify-self: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .left-section, .right-section {
        width: 100%;
    }

    .left-section h1 {
        font-size: 2rem;
        text-align: center;
    }

    .left-section ul li {
        font-size: 1rem;
        text-align: center;
    }

    .right-section {
        padding: 15px;
    }

    .discount {
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
    }

    form input, form button {
        font-size: 0.9rem;
    }


}